<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials.head %>
</head>
<body class='container'>
    <header>
        <% include ../partials.header %>
    </header>
 <main>
     <div class="jumbotron">
         <h1>is super cool</h1>
         <p>welcome</p>
     </div>
     <div>
         <h2>variable</h2>
         <p><%= tagline %></p>
     </div>

 </main>
</body>
</html>
